<%= form_for @post, html: { multipart: true } do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.file_field :photo %>

	<p>
		Publish Now
		<%= radio_button_tag(:published, true) %>
	</p>

	Publish Later
	<p>
		Select Time Zone
  <%= time_zone_select("publish_time", "time_zone", ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone) %>
  </p>

	<p>
		Select Hour
		<%= select("publish_time", "hour", hours) %>
	</p>

	<p>
		Select Date
		<%= select("publish_time", "date", dates) %>
	</p>
	<%= f.submit value: 'Create post' %>
<% end %>

