<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    </div>
  </nav>
<p class='navbar-padding'>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <% if current_user %>
        <%= link_to "Sign out", session_path(current_user), method: :delete %>
      <% else %>
        <%= link_to 'Sign in with Twitter', "auth/twitter" %>
        <%= link_to "Register", new_author_path  %>
        <%= link_to "Sign in", new_session_path  %>
      <% end %>
    </div>
  </nav>
</p>

<%= yield %>

</body>
</html>
